<div class='frete-row'>
  <div class="frete-row__imagemDiv" style='grid-area: logo / logo / logo / logo'>
    <img class='frete-row__imagem' src='{{this.urlImage}}' alt='{{this.carrier}} {{this.transportationType}}' /></div>
  <div style='grid-area: type / type / type / type;'>
    <span class='frete-row__tipo'>{{this.transportationType}}</span>
  </div>
  <div style='grid-area: title / title / title / title;'></div>
  <div style='grid-area: price / price / price / price;'>
    <span class='frete-row__valor'>{{this.price}}</span>
  </div>
  <div style='grid-area: time / time / time / time;'>
    <span class='frete-row__periodo'>Entre {{this.deliveryDeadline.min}} e {{this.deliveryDeadline.max}} dias</span>
  </div>
</div>